# Ignore website trash
server/views/node_modules/
server/views/node_modules/*
server/views/js/*

# Ignore server trash
server/go.sum
tmp/
server/tmp/main
server/tmp/

# Ignore .env for security
server/.env
